#index-content {
    background-color: rgba(0,0,0,0.8);
    margin: 0, auto;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 100px;
}
#content {
     background-color: rgba(0,0,0,0.8);
     margin: 0, auto;
     padding-bottom: 30px;
     text-align: center;
 }

.main-title{
    font-size: 15em;
    color: white;
}

.subtitle {
    padding-left: 1em;
}

.main-menu-buttons {
    padding-top: 1em;
}

.btn {
    margin: 1em;
}

body {
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.instruction-title {
    font-size: 7em;
}
.board {
    border-bottom: solid, 3px, #ffff00;
    width: 100%;
    height: 100%;
}

#board-header {
    font-size: 2em;
}

.first-place {
    font-size: 3em;
    background-color: green;
}

.second-place {
    font-size: 1.75em;
    background-color: #5d5d5d;
}

.third-place {
    font-size: 1.2em;
    background-color: #5d5d5d;
}

.play-content{
    background-color: rgba(0,0,0,0.8);
    margin: 0, auto;
    padding-bottom: 30px;
    text-align: center;
}

.play-header {
    display: inline-flex;
    text-align: left
}

.play-header-text {
    margin-right: 1em;
    font-size: 2em;
    color: white;
}

.main-question {
    padding-top: 2em;
    width: 80%;
    float: left;
    background-color: rgba(0,0,0,0.8);
}

.question-text {
    padding: 1em;
    font-size: 3em;
    color: white;
}

.question-footer {
    width: 100%;
    height: 10%;
    float: left;
}

.answer-button {
    width: 40%;
    height: 35%;
    display: inline-block;
    font-size: 2.5em;
    color: white;
}

.answer-button-1 {
    background-color: black;
    color: white;
}

.answer-button-2 {
    background-color: white;
    color: black;
}
.answer-button-3 {
    background-color: white;
    color: black;
}
.answer-button-4 {
    background-color: black;
    color: white;
}

.question-points {
    width: 20%;
    float: right;
    display: block;
    background-color: rgba(0,0,0,0.9);
}

.current-question-points {
    padding-top: 4em;
    clear: both;
    font-size: 1.5em;
    color: white;
}

.question-slider {
    padding: .5em;
    color: white;
    width: 100%;
}

.question-slider-points {
    width: 100%;
    font-size: 1.2em;
    text-align: right;
    border-bottom: 1px solid yellow;
}
