<div id="index-content">
  <div class="teamHeader">Admin Console</div>

  <h4>Current Games</h4>
  <div ng-repeat="game in games track by $index">
    <div class="row">
      <div class="col-md-1">Game Name:</div>
      <div class="col-md-1">{{game.gameName}}</div>
      <div class="col-md-1">Code:</div>
      <div class="col-md-1">{{game.gameCode}}</div>
      <div class="col-md-1">Status:</div>
      <div class="col-md-1">{{game.status}}</div>
      <div class="col-md-2"><button class="btn btn-default btn-lg" ng-click="start(games[$index])">Start Game!</button></div>
      <div class="col-md-2"><button class="btn btn-default btn-lg" ng-click="delete(games[$index])">Delete</button></div>
    </div>
  </div>

  <div>
    <h4>Create New Game</h4>
    <form>
      <div class="row">
        <div class="col-md-1">Game Name:</div>
        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="newGameName" />
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" ng-click="createGame()" ng-disabled="disableCreateButton()">Create</button>
        </div>
      </div>
    </form>
  </div>

</div>