<div id="index-content" class="admin outline-top outline-bottom">
  <div class="teamHeader">Admin Console</div>
  <div>
    <h4>Create New Game</h4>
    <form class="rows">
      <div class="row">
        <div class="col-md-2 col-md-offset-2">Game Name:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="newGameName" />
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" ng-click="createGame()" ng-disabled="disableCreateButton()">Create</button>
        </div>
      </div>
    </form>
  </div>
  
  <h4>Current Games</h4>
  <div class="rows" ng-repeat="game in games track by $index">
    <div class="row">
      <div class="col-md-3"><p>Game Name: <span>{{game.gameName}}</span></p></div>
      <div class="col-md-3"><p>Code: <span>{{game.gameCode}}</span></p></div>
      <div class="col-md-3"><p>Status: <span>{{game.status}}</span></p></div>
      <div class="col-md-3"><button class="btn btn-default" ng-click="start(games[$index])">Start Game!</button><button class="btn btn-default" ng-click="deleteGame(games[$index])">Delete</button></div>
    </div>
  </div>

  

</div>