<div id="index-content" class="outline-top outline-bottom">
  <form>
    <div class="teamHeader">Enter your Team Information:</div>

    <div class="row teamRow">
      <div class="col-sm-2"> Team Name</div>
      <input class="col-sm-4" type="text" size="50" ng-model="teamName">
    </div>
    <div ng-repeat="player in players track by $index" class="row teamRow">
      <div class="col-sm-2">Team Member Name</div>
      <input class="col-sm-4" ng-model="players[$index]" type="text"/>
    </div>
    <div class="row teamRow">
      <input type="submit" class="btn btn-default btn-lg" ng-click="joinGame()" value="Let's Play!">
      <button class="btn btn-default btn-lg" ng-click="addAnotherPlayer()">Add Another Team Member</button>
      <button class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
    </div>

  </form>

</div>