<div id="content" class="outline-top outline-bottom">
  <h2 class="instruction-title">The Leaderboard</h2>

  <div class="col-md-1 board-header">Position</div>
  <div class="col-md-3 board-header">Team Name</div>
  <div class="col-md-2 board-header">Score</div>
  <div class="col-md-1 board-header">Position</div>
  <div class="col-md-3 board-header">Team Name</div>
  <div class="col-md-2 board-header">Score</div>
  <div class="scores">
    <div class="score" ng-repeat="score in scores track by $index">
      <div class="col-md-2 board-position">{{getOrdinal($index + 1)}}</div>
      <div class="col-md-6 board-teamName">{{score.teamName}}</div>
      <div class="col-md-4 board-score">{{score.totalScore}}</div>
    </div>
  </div>
</div>