<div class="play-content">

  <div class="play-header">
    <div class="play-header-text">Your Team Name</div>
    <div class="play-header-text">Score: 0</div>
    <div class="play-header-text">Questions: 0/15</div>
  </div>

  <div class="main-question">
    <div class="question-text">{{question.questionText}}</div>
    <div class="answer-block" >
      <button ng-repeat="answerOption in question.answerOptions track by $index"
              id="answer-{{$index}}"
              ng-click="submitAnswer($index)"
              class="answer-button answer-button-{{$index}}">{{answerOption}}</button>
    </div>
  </div>


  <div class="question-points">
    <div class="current-question-points">Your Question Points: {{score}}</div>
    <div class="question-slider">
      <div class="question-slider-points">600</div>
      <div class="question-slider-bar"></div>
    </div>
  </div>

</div>